.transition-nav{
    transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .light-shadow{
    box-shadow: rgba(0, 0, 0, 0.301) 0px 4px 12px;
  }
  .dark-shadow{
    box-shadow: rgba(255, 255, 255, 0.301) 0px 4px 12px;
  }
  .heroText-animation{
    animation : heroAnimation 2s cubic-bezier(0.65, 0, 0.35, 1) infinite alternate ; 
}
@keyframes heroAnimation{
  0%{
      transform: translateY(-20px);
  }
  100%{
      transform: translateY(20px);
  }
}